<div class="row logoHeader">
	<a href='/'>
		<img src="images/logoPlaceholder.png" class="header-logo hidden-sm hidden-xs">
	</a>
</div>
<div class="row navHeader">
	<div class="container">
			<a class="btn btn-primary" href='/characters'>Characters</a>
			<a class="btn btn-primary" href='/items'>Items</a>
			<a class="btn btn-primary" href='/locations'>Locations</a>
	</div>
</div>