<!-- public/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>PLACEHOLDER - Index</title>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container main-content">
        <div class="jumbotron">
            <h1>CIS 445 - Index Page.</h1>
        </div>
				<div class="panel">
					<div class="panel-body">
					
						<h1>11/20/2015</h1>
						<p>
							Filled out server file to accept .ejs templating, began work on the front end of the project. All content is mostly for placeholder purposes right now, but navigating the project is now possible.</p>
							
							<p>I have also set up more of the structure for the project, primarily to support the front-end.
						</p>
						
					</div>
				</div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>