<!-- public/pages/items.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>PLACEHOLDER - Items</title>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container main-content">
			<div class="jumbotron">
				<h1>Awaiting Content</h1>
			</div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>